# Loading and Processing Data

In [ ]:
! pip install keras_tuner

Requirement already satisfied: keras_tuner in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.4.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.0.4)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.7.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (5.5.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras_tuner) (3.0.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2021.10.8)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.12.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.8.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.37.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.42.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.17.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.3.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras_tuner) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.1.1)

In [ ]:
# Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import tensorflow as tf
import keras_tuner as kt
from sklearn.pipeline import Pipeline
from keras.layers import Dense, Dropout, Flatten, Activation
import h5py

In [ ]:
file_path = '/content/charity_data.csv'
data_df = pd.read_csv(file_path)

In [ ]:
data_df.head(5)

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
data_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
data_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
34294    False
34295    False
34296    False
34297    False
34298    False
Length: 34299, dtype: bool

In [ ]:
data_df["INCOME_AMT"] = data_df["INCOME_AMT"].str.split('-',n=1, expand=True)

In [ ]:
data_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [ ]:
def add(v_range):    
    if "M" in v_range:
        return 10**6
    return v_range

In [ ]:
data_df["INCOME_AMT"] = data_df["INCOME_AMT"].apply(add)

In [ ]:
data_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [ ]:
data_df["INCOME_AMT"] = data_df["INCOME_AMT"].astype(str).astype(float)
data_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [ ]:
data_df.dtypes

EIN                         int64
NAME                       object
APPLICATION_TYPE           object
AFFILIATION                object
CLASSIFICATION             object
USE_CASE                   object
ORGANIZATION               object
STATUS                      int64
INCOME_AMT                float64
SPECIAL_CONSIDERATIONS     object
ASK_AMT                     int64
IS_SUCCESSFUL               int64
dtype: object

#### Data Cleaning
The following is observed from the cells above and correct appropriately:
1. We change to change the Income_Amt column from string to integer and carry out a split to obtain the actual amount by defining a function.
2. We reduce the number of unique values by binning 'rare' categorical variables.

In [ ]:
data_df['APPLICATION_TYPE'].value_counts(sort=True).reset_index()

   index  APPLICATION_TYPE
0     T3             27037
1     T4              1542
2     T6              1216
3     T5              1173
4    T19              1065
5     T8               737
6     T7               725
7    T10               528
8     T9               156
9    T13                66
10   T12                27
11    T2                16
12   T14                 3
13   T25                 3
14   T15                 2
15   T29                 2
16   T17                 1

In [ ]:
# Reduce categorical variables (APPLICATION_TYPE)
t_others = data_df['APPLICATION_TYPE'].value_counts().loc[lambda x: x<27]
application_to_replace = t_others.index.tolist()
for t in application_to_replace:
    data_df['APPLICATION_TYPE'] = data_df['APPLICATION_TYPE'].replace(t,"other")
# Confirm binning was successful
data_df['APPLICATION_TYPE'].value_counts(sort=True).reset_index()

    index  APPLICATION_TYPE
0      T3             27037
1      T4              1542
2      T6              1216
3      T5              1173
4     T19              1065
5      T8               737
6      T7               725
7     T10               528
8      T9               156
9     T13                66
10  other                27
11    T12                27

In [ ]:
data_df['CLASSIFICATION'].value_counts(sort=True).reset_index()

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
..    ...             ...
66  C1283               1
67  C1236               1
68  C4500               1
69  C6100               1
70  C1900               1

[71 rows x 2 columns]

In [ ]:
#Similarly
other_clas = data_df['CLASSIFICATION'].value_counts().loc[lambda x: x<800]
classifications_to_replace = other_clas.index.tolist()
# Replace in dataframe
for clas in classifications_to_replace:
    data_df['CLASSIFICATION'] = data_df['CLASSIFICATION'].replace(clas,"Combined_class")
# Check to make sure binning was successful
data_df['CLASSIFICATION'].value_counts(sort=True).reset_index()

            index  CLASSIFICATION
0           C1000           17326
1           C2000            6074
2           C1200            4837
3  Combined_class            2261
4           C3000            1918
5           C2100            1883

In [ ]:
data_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [ ]:
data_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [ ]:
# Drop irrelevant columns
data_df = data_df.drop(['EIN', 'NAME'], axis=1)
data_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [ ]:
# Get list of categorical variables
data_cat = data_df.dtypes[data_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
data_df[data_cat].nunique()

APPLICATION_TYPE          12
AFFILIATION                6
CLASSIFICATION             6
USE_CASE                   5
ORGANIZATION               4
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

enc_cats = enc.fit_transform(data_df[data_cat])

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc_cats)

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(data_cat)
encode_df.head()

   APPLICATION_TYPE_T10  ...  SPECIAL_CONSIDERATIONS_Y
0                   1.0  ...                       0.0
1                   0.0  ...                       0.0
2                   0.0  ...                       0.0
3                   0.0  ...                       0.0
4                   0.0  ...                       0.0

[5 rows x 35 columns]

In [ ]:
# Merge one-hot encoded features and drop the originals
data_df = data_df.merge(encode_df, left_index=True, right_index=True)
data_df = data_df.drop(data_cat, 1)
data_df.head()

   STATUS  INCOME_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1         0.0  ...                       1.0                       0.0
1       1         1.0  ...                       1.0                       0.0
2       1         0.0  ...                       1.0                       0.0
3       1     10000.0  ...                       1.0                       0.0
4       1    100000.0  ...                       1.0                       0.0

[5 rows x 39 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
y = data_df["IS_SUCCESSFUL"].values
X = data_df.drop(["IS_SUCCESSFUL"],1).values

In [ ]:
y.shape

(34299,)

In [ ]:
X

array([[1.0000000e+00, 0.0000000e+00, 5.0000000e+03, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0000000e+00, 1.0859000e+05, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 5.0000000e+03, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 0.0000000e+00, 5.0000000e+03, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 5.0000000e+03, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0000000e+06, 3.6500179e+07, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [ ]:
# Use sklearn to split dataset
# Use sklearn to split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Create model function
1. Define the NN model
2. Add hidden layers using relu
3. Output layer using sigmoid function
4. Check model

In [ ]:
# Initialise the Sequential class
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8,input_shape=X.shape[1:] , activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 312

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 363
Trainable params: 363
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.7151
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5709 - accuracy: 0.7249
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5634 - accuracy: 0.7264
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5599 - accuracy: 0.7267
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7266
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7275
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7270
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7281
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7291
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7288
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7281
Epoch 12/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7292
Epoch 13/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7292
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7289
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7292
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7292
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7289
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7289
Epoch 19/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7303
Epoch 20/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7300

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7245 - 385ms/epoch - 1ms/step
Loss: 0.5571367144584656, Accuracy: 0.7245481014251709

From the deep (machine) learning model developed. The loss on the train datasets is 0.5543 while an accuracy based on test dataset is 0.723.

In [ ]:
finalmodel = nn.evaluate(X_test_scaled,y_test,verbose=2)

268/268 - 0s - loss: 0.5571 - accuracy: 0.7245 - 301ms/epoch - 1ms/step

In [ ]:
model.save("my_h5_model.h5")